*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
:root{
    --calc-bg: #040404;
    --calc-front: #090e11;
    --calc-border: #252525;
    --calc-front-hover: #1c1c1c;
    --calc-front-active: #1d2c30;
    --text-color: white;
}
html{
    font-size: 62.5%;
    color: var(--text-color);
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./leaves.jpg');
}
.calc{
    height: fit-content;
    width: 40rem;
    background: var(--calc-bg);
    border: 1px solid var(--calc-border);
    padding: 3rem 1rem;
}
.container{
    width: 90%;
    max-width: 90%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container input[type='text']{
    color: var(--text-color);
    font-size: 1.6rem;
    width: 100%;
    height: 6rem;
    outline: none;
    border: 1px solid var(--calc-border);
    background: var(--calc-front);
    margin-bottom: 2rem;
    padding: 0px 2rem;
    text-align: end;
}
.container .keys{
    display: flex;
    justify-content: space-between;
}
.container .keys .row{
    width: calc(20% - 1rem);
}
.container .keys .row .key{
    background: var(--calc-front);
    border: 1px solid var(--calc-border);
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0px;
    padding: 1rem 0px;
    user-select: none;
    cursor: pointer;
    transition: 0.2s;
}
.container .keys .row .key:hover{
    background: var(--calc-front-hover);
}
.container .keys .row .key:active{
    background: var(--calc-front-active);
}
.container .keys .row .key.ans{
    background: var(--text-color);
    color: var(--calc-front);
}
.container .keys .row .key.ans:active{
    background: gray;
}
.container .keys .row .key.xl{
    height: calc(100% - 7.7rem);
}